<% include header %>
<form action="/auth" method="POST"><button>Logout</button></form>
<form action="/game" method="GET"><button>Back to Minesweeper</button></form>
<img src="<%= user.image.url %>" alt="user avatar">
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Score
        </th>
        <th>
            Difficulty
        </th>
        <th>
            Date
        </th>
    </tr><% scores.forEach(function(score){ %>
    <%- include score %>
    <% }); %>
</table>



